h1 {
    text-align: center;
    font-size: 45px;
}
body {
  background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgb(9, 201, 186),rgb(18, 131, 221));
}
 

.profile {
    display: flex;
align-items: center;
justify-content: center;
}

.profileleft {
    display: flex;
align-items: right;
justify-content: right;
justify-content: flex-end;
}

.profileright {
    display: flex;
align-items: right;
justify-content: right;
justify-content: flex-end;
}


.imagePosition {
    height: 350px;
    width: 350px;
    border: solid 5px #002E6E;
    border-radius: 30px;

}

.imageShowcase {
    height: 497px;
    width: 1080px;
    border: solid 3px #002E6E;
    border-radius: 30px;
    margin-bottom: 35px;
    margin-top: 35px;

}

hr {
    width: 80%;
    height: 10px;
    border: 0 none;
    margin-right: auto;
    margin-left: auto;
    margin-top: 80px;
    margin-bottom:90px;
    background-color:#006AAB;


}

h3 {
    color: black;
    font-size: 55px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}

.imagePositions {
    height: 100px;
    width: 100px;
    align-items: center;
}

.imagePositionss {
    height: 380px;
    width: 690px;
    align-items: center;
}


.profilen {
    display: flex;
align-items: left;
justify-content: left;
}

h4 {
    color: white;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    
}
  
head {
@media screen and (min-width: 541px) and (max-width: 600px){*{font-size:7.5px;}}
@media screen and (min-width: 481px) and (max-width: 540px){*{font-size:6.75px;}}
@media screen and (min-width: 361px) and (max-width: 480px){*{font-size:6px;}}
@media screen and (min-width: 321px) and (max-width: 360px){*{font-size:4.5px;}}
}


h5 {
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    
}
  